{% extends 'ecom/homebase.html' %}
{% load static %}
{% block content %}
<br><br><br>
<!-- <img src="{% static "images/logout_img.png" %}"  style="width:1000px; height:1000px; padding-left:400px;"> -->
<body style="background-image: url('{% static "images/bg-img7.png" %}'); background-size: cover; background-repeat: no-repeat; background-position: center;">
<center>
    <h1 style="color: white; font-size: 50px;"><i>You've logged out successfully!</i></h1>
</center>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br>

{% endblock content %}
</body>
